[submodule "task-manager-api"]
	path = task-manager-api
	url = https://github.com/jovyntls/task-manager-api
[submodule "task-manager-frontend"]
	path = task-manager-frontend
	url = https://github.com/jovyntls/task-manager-frontend
